.flex-containerone, .flex-containertwo {
    display: -webkit-flex;
    display: flex;
    width: 300px;
    height: 250px;
    background-color: lightgrey;
}

.flex-item {
    background-color: cornflowerblue;
    width: 75px;
    height: 75px;
    margin: auto;
    -webkit-column-count: 3;
    -webkit-column-width: 200px;
}