* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

footer {
	position: absolute;
	bottom: 0;
	background-color: #000;
	width: 100vw;
	height: 50px;
}

.footer-nav {
	display: flex;
	flex-direction: row-reverse;
	font-family: verdana, sans-serif; 
	font-size: 0.8em;
	list-style-type: none;
}

.footer-nav__item {
	display: inline-block;
	margin: 3px 15px;
	padding: 0 8px;
}

.footer-nav__item a {
	color: #eb9800;
}

.footer-nav__item a:hover {
	color: #ffbd46;
}